@charset "UTF-8";

#header {
	/* position: relative; */
	width: 100%;
	height: auto;
	/* float: left; */
	display: block;
}

#footer {
	width: 100%;
	height: 50px;
	float: left;
	background: grey;
	dsplay: block;
}

.btn-custom {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

.btn-custom:hover {
    color: red;
    background-color: #000000;
    border-color: #000000;
}

.unchecked {
	color: #000000;
    background-color: #ffffff;
    border-color: #000000;
}

input[type="checkbox"]:not(#tomorrow), input[type="radio"] { /* 실제 체크박스는 화면에서 숨김 */
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  margin: 5px 0px 5px 0px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #000000;
  background-color: #fff;
  background-image: none;
  border: 1px solid #000000;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
  border-color: #000000;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #000000;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #000000;
}