@charset "UTF-8";

.layer {
    position: fixed;
    width: 40%;
    left: 50%;
    margin-left: -20%; /* half of width */
    height: 300px;
    top: 50%;
    margin-top: -150px; /* half of height */
    overflow: auto;

    /* decoration */
    border: 1px solid #000;
    background-color: #eee;
    padding: 1em;
    box-sizing: border-box;
}

@media (max-width: 600px) {
    .layer {
        width: 80%;
        margin-left: -40%;
    }
}

.hidden {
    display: none;
}