@charset "UTF-8";

.introText {
	text-align: justify;
	width: 200px;
	height:200px;
	word-break: break-word;
	overflow: auto;
	resize:none;
}

.btn-custom {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

.btn-custom:hover {
    color: red;
    background-color: #000000;
    border-color: #000000;
}

.alldiv {
	border: 2px solid;
	border-radius: 10px;
	width: 700px;
	padding: 20px 100px;
	position:absolute; 
	top:150px; 
	margin-bottom:50px;
	left:34%; 
	margin-top:-50px; 
	margin-left:-50px;
}

#pintro {
	width: 300px;
	height: 200px;
	overflow: auto;
	resize: none;
}