@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);


/* --- 스크롤바 변경 시작--- */
/* --- IE용 스크롤바 --- */
.grid { scrollbar-arrow-color: #efefef;
        scrollbar-Track-Color: #efefef; 
        scrollbar-base-color: #dfdfdf;
        scrollbar-Face-Color: #dfdfdf;
        scrollbar-3dLight-Color: #dfdfdf;         
        scrollbar-DarkShadow-Color: #dfdfdf;
        scrollbar-Highlight-Color: #dfdfdf;
        scrollbar-Shadow-Color: #dfdfdf}
/* Chrome, Safari용 스크롤 바 */
.grid ::-webkit-scrollbar, .tab-content ::-webkit-scrollbar, .favoList ::-webkit-scrollbar {width: 6px; height: 6px; }
.grid ::-webkit-scrollbar-button:start:decrement, 
.grid ::-webkit-scrollbar-button:end:increment,
.tab-content ::-webkit-scrollbar-button:start:decrement, 
.tab-content ::-webkit-scrollbar-button:end:increment,
.favoList ::-webkit-scrollbar-button:start:decrement, 
.favoList ::-webkit-scrollbar-button:end:increment {display: block; width: 0px;height: 10px; background: url() rgba(0,0,0,0);}
.grid ::-webkit-scrollbar-track, .tab-content ::-webkit-scrollbar-track,  .favoList ::-webkit-scrollbar-track {  background: rgba(0,0,0,0); -webkit-border-radius: 50px; border-radius:50px; }
.grid ::-webkit-scrollbar-thumb, .tab-content ::-webkit-scrollbar-thumb, .favoList ::-webkit-scrollbar-thumb {  width:50px; height:50px; background: #cccccc; -webkit-border-radius: 50px; border-radius:50px;  }

/* --- 스크롤바 변경 끝--- */

.container {
  width: 1200px;
  max-width: none !important;
}

.menubar {
	padding: 0px;
}

.grid{
	padding-left: 3px;
}

.grid-item {
  float: left;
  width: 33%;
  padding: 10px;
  min-width:370px;
}

.inner-item {
	padding:5px;
	border: 2px solid #000000;
	border-radius: 10px;
	max-height: 500px;
	overflow: hidden;
	cursor: pointer;
	word-break: break-word;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.inner-item:hover {
	border: 2px solid #000000;
	border-radius: 10px;
	max-height: 500px;
	overflow: auto;
	cursor: pointer;
	word-break: break-word;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 14px 4px rgba(0,0,0,.5);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 14px 4px rgba(0,0,0,.5);
	
}

.inner-content {
	z-index:99;
	float: left; 
	position: absolute; 
	padding:10px;
	border:4px solid #000000; 
	border-radius:10px;
	background:white;
	display:none;
	margin-bottom: 50px;
	word-break: break-word;
}

.inner-content img {
	border-radius: 0px;
	max-width:100%; 
}

.outer-back{
	z-index:3;
	background: rgba(0, 0, 0, 0.64);
	position: absolute;
	left:0;
	display:none;
	width: 100%;
	height: 100%;
}

.inner-back{
	z-index:3;
	position: absolute;
	left:0;
	width: 100%;
	height: 100%;
}


.outer-content{
	z-index:4;
	position: absolute;
	left:0;
	display:none;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.itemList {
	display:none;
	margin-top : 10px;
}

.on {
	display:block;
}

.inner-item img {
	border-radius: 10px;
	max-width:330px; 
}

.content a {
	color: black; 
}

.content a:hover {
	color: red; 
}

#btnTop {
    position: fixed;
    right: 2%;
    bottom: 50px;
    display: none;
    z-index: 999;
    color: white;
    background-color: black;
    border-color: black;
}

#btnTop:hover {
    color: red;
}

.btn-close {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 80px;
	height: auto;
	cursor: pointer;
}

.selected-item {
	border: 2px solid #000000;
	border-radius: 10px;
	padding: 5px;
	margin: 0 5px 0 5px;
	font-weight: normal;
	cursor: pointer;
}

.favoList {
	max-height:200px; 
	overflow: auto;
}

.favoItem {
	margin-right:5px;
	word-break: break-all;
	display: inline-block;
	border: 1px solid #000;
	border-radius: 4px;
	padding: 5px 8px;
	cursor: pointer;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.favoItem:hover {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px 2px rgba(0,0,0,.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px 2px rgba(0,0,0,.6);
}

.favoItem a {
	font-size:x-large;
	font-weight:bold;
	color: black; 
}

.favoItem a:hover {
	color: red; 
}

.favoItem img {
	border-radius: 10px;
	width: 30px;
	height: 30px;
	margin-right: 5px;
}

.favoTitle {
	font-size: x-large;
	font-weight: bold;
	margin-bottom: 5px;
}


/* ---searchtab 시작--- */


.tab-content label:not(.ex) {
	cursor: pointer;
	border: solid 2px black;
	border-radius: 15px;
	padding: 5px;
	margin-left: 10px;
	margin-bottom: 10px;
}

.tab-content label:hover:not(.ex), .sel {
	background-color: black;
	color: white;
}

.tab-content label:active:not(.ex) {
	background-color: black;
	color: red;
}

.timeBtn{
	text-align: center;
	padding-top: 10px;
}

input[type="checkbox"]:not(#tomorrow), input[type="radio"] { /* 실제 체크박스는 화면에서 숨김 */
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0
}

.panel-info {
    border-color: #000000;
}

.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
    background-color: #000000;
    border-color: #000000;
}
.panel.with-nav-tabs .nav-tabs{
	border-bottom: none;
	background-color: #000000;
}
.panel.with-nav-tabs .nav-justified{
	margin-bottom: -1px;
	background-color: #000000;
}

.with-nav-tabs.panel-info .nav-tabs > li > a,
.with-nav-tabs.panel-info .nav-tabs > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li > a:focus {
	color: #ffffff;
}
.with-nav-tabs.panel-info .nav-tabs > .open > a,
.with-nav-tabs.panel-info .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-info .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-info .nav-tabs > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li > a:focus {
	color: red;
	background-color: #000000;
	border-color: #ffffff;
}
.with-nav-tabs.panel-info .nav-tabs > li.active > a,
.with-nav-tabs.panel-info .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.active > a:focus {
	color: #000000;
	background-color: #ffffff;
	border-color: #ffffff;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #000000;
    border-color: #ffffff;
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #ffffff;
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #000000;
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #ffffff;
}


/* ---searchtab 끝--- */


