@charset "UTF-8";

.header {
	position: relative;
	width: 100%;
	float: left;
	background: grey;
}

#pageleftbox {
	position: relative;
	width: 300px;
	float: left;
}

#pagecenterbox {
	position: relative;
	float: left;
}

#pagerightbox {
	position: relative;
	width: 300px;
	float: right;
}

.footer {
	position: relative;
	width: 100%;
	float: left;
	background: grey;
}