@charset "UTF-8";

#header {
	/* position: relative; */
	width: 100%;
	height: 100px;
	/* float: left; */
	background: grey;
	display: block;
}

#pagemainbox {
	height: auto;
}

#pagecontentbox {
	height: auto;
	float: left;
}

#pageleftbox {
	position: relative;
	width: 300px;
	height: 100%;
	float: left;
}

#pagecenterbox {
	position: relative;
	float: left;
	padding: 10px;
}

#pagerightbox {
	position: relative;
	height: 100%;
	width: 300px;
	float: right;
	 
}

#footer {
	width: 100%;
	height: 50px;
	float: left;
	background: grey;
	dsplay: block;
}

.btn-custom {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

.btn-custom:hover {
    color: red;
    background-color: #000000;
    border-color: #000000;
}
