@charset "UTF-8";

/* carousel */
.media-carousel 
{
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 30px;
}
/* Previous button  */
.media-carousel .carousel-control.left 
{
  left: -12px;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px
}
/* Next button  */
.media-carousel .carousel-control.right 
{
  right: -12px !important;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active 
{
  background: #333333;
}
.media-carousel img
{
  width: 250px;
  height: 100px;
}
/* End carousel */


.topList {
	border: 2px solid; 
	margin: 25px; 
	padding: 20px; 
	height: auto; 
	overflow: hidden;
	width: 600;
	border-radius: 10px;
}

.delspan {
	display:inline-block; 
	width: 490px; 
	text-align: right;
}

.alldiv {
	position:absolute; 
	top:150px; 
	margin-bottom:50px;
	left:35%; 
	margin-top:-50px; 
	margin-left:-50px;
}

.plus {
	text-align: center;
}

#tuploadImg1, #tuploadImg2, #tuploadImg3, #tuploadImg4, #tuploadImg5, #tuploadImg6 {
	width: 200px;
	height: auto;
} 